@*@model MemberActivitiesVM
@{
    ViewBag.Title = "Activity";
    Layout = "_Layout";
}

<form asp-controller="Button" asp-action="Activity"asp-route-id="@Model.Id">
    <span class="col-md-2">@Model.ActivityName</span>
</form>*@