@model ButtonIndexVM[]

@{
    Layout = "_Layout";
    ViewBag.Title = "TimeStamp";
    bool isActive = false;
}

<ul class="list-group">
    @foreach(var time in Model)
    {
        @if(time.Stop == null)
        {
            isActive = true;
        }
        else
        {
            isActive = false;
        }
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-6">
                    @time.Start
                </div>
                <div class="col-md-6">
                    @time.Stop
                </div>
                @*<div class="col-md-6">
                    @time.Span
                </div>*@
            </div>
        </li>
    }
</ul>
<br />

<a class=@(isActive?"btn btn-light disabled":"btn btn-light") asp-controller="Button" asp-action="SetStart">Stämpla in!</a>
<a class=@(isActive?"btn btn-light":"btn btn-light disabled") asp-controller="Button" asp-action="SetStop">Stämpla ut!</a>

