@model ButtonIndexVM[]

@{
    Layout = "_Layout";
    ViewBag.Title = "TimeStamp";
    bool isActive = false;
}


@foreach(var time in Model)
{
    @if(time.Stop == null)
    {
        isActive = true;
    }
    else
    {
        isActive = false;
    }
    <div class="row">
        <div style="color: green">
            @time.Start
        </div>
        <div style="color: red">
            @time.Stop
        </div>
        @*<div>
                @time.Span
            </div>*@
    </div>
}
<br />
<div>
    <a class=@(isActive?"loop-button disabled":"loop-button") asp-controller="Button" asp-action="SetStart">Start</a>
    <a class=@(isActive?"loop-button":"loop-button disabled") asp-controller="Button" asp-action="SetStop">Stop</a>
</div>
<br />
<div>
    <button class="loop-button">Start</button>
    <button class="loop-button">Stop</button>
</div>



