@model ButtonIndexVM[]

@{
    Layout = "_Layout";
    ViewBag.Title = "TimeStamp";
    bool isActive = false;
}

@foreach(var time in Model)
{
    @if(time.Stop == null)
    {
        isActive = true;
    }
    else
    {
        isActive = false;
    }
}

<div class="loop-loop">
    <form asp-controller="Button" asp-action="SetStart">
        <button class=@(isActive?"loop-start-ongoing disabled":"loop-start")>start</button>
    </form>
    <form asp-controller="Button" asp-action="SetStop">
        <button class=@(isActive?"loop-stop":"loop-stop-inactive disabled")>stop</button>
    </form>
</div>

@foreach(var time in Model)
{
    <div class="test">
        <div style="color: green">
            @time.Start
        </div>
        <div style="color: red">
            @time.Stop
        </div>
        @*<div>
                @time.Span
            </div>*@
    </div>
}
