@model AccountCreateVM
@{ViewBag.Title = "Create";}
<div class="loop-create">
    <h4>Create New Account</h4>
    <form asp-controller="Account" asp-action="Create">
        <div>
            <label asp-for="Name"></label>
            <input class="loop-form-input" asp-for="Name" />
            <span class="loop-error" asp-validation-for="Name"></span>
        </div>
        <div>
            <label asp-for="Email"></label>
            <input class="loop-form-input" asp-for="Email" />
            <span class="loop-error" asp-validation-for="Email"></span>
        </div>
        <div>
            <label asp-for="Password"></label>
            <input class="loop-form-input" asp-for="Password" />
            <span class="loop-error" asp-validation-for="Password"></span>
        </div>
        <br />
        <button class="loop-button">Create</button>
    </form>
</div>
@section scripts{
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
}