@model AccountCreateVM
@{ViewBag.Title = "Create";}
<div class="loop-create">
    <h4>Create New Account</h4>
    <form asp-controller="Account" asp-action="Create">
        @*<label asp-for="Name"></label>*@
        <input class="loop-form-input" asp-for="UserName" placeholder="UserName" />
        <span class="loop-error" asp-validation-for="UserName"></span>
        <br />
        @*<label asp-for="Email"></label>*@
        <input class="loop-form-input" asp-for="Email" placeholder="Email" />
        <span class="loop-error" asp-validation-for="Email"></span>
        <br />
        @*<label asp-for="Password"></label>*@
        <input class="loop-form-input" asp-for="Password" placeholder="•••••" />
        <span class="loop-error" asp-validation-for="Password"></span>
        <br />
        <input class="loop-form-input" asp-for="ConfirmPassword" placeholder="Confirm Password" />
        <span class="loop-error" asp-validation-for="ConfirmPassword"></span>
        <br />
        <button class="loop-button">Create</button>
    </form>
</div>
@section scripts{
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
}