

@model AccountDetailsVM
    @{
        Layout = "_Layout";
        ViewBag.Title = "User";
    }
    <div class="loop-create">
        <h1>@ViewBag.Title</h1>
        <p>
            Welcome member - you are logged in as: @Model.UserName
        </p></div>