@model AccountLoginVM
@{
    Layout = "_Layout";
    ViewBag.Title = "Login";
}

<h1>Login</h1>

<form asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">
    <label asp-for="Username"></label>
    <input asp-for="Username" />
    <span asp-validation-for="Username"></span>
    <br />
    <label asp-for="Password"></label>
    <input asp-for="Password" />
    <span asp-validation-for="Password"></span>
    <br />
    <input type="submit" value="Login" />
</form>
<br />
<a class="btn btn-primary" asp-controller="Member" asp-action="Create">Skapa ny aktivitet</a>

