@model AccountLoginVM;
@{
    Layout = "_Layout";
    ViewBag.Title = "Login";
}

<div class="loop-create">

    <h1>Login</h1>

    <form asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">
        <input class="loop-form-input" asp-for="Username" placeholder="Username" />
        <span class="loop-error" asp-validation-for="Username"></span>
        <br />
        <input class="loop-form-input" asp-for="Password" placeholder="•••••" />
        <span class="loop-error" asp-validation-for="Password"></span>
        <br />
        <input class="loop-button" type="submit" value="Login" />
    </form>
    <hr />

    <a class="loop-button" asp-controller="Account" asp-action="Create">Create Account</a>
    <br />
    <br />
    <a class="loop-button" asp-controller="Member" asp-action="Activities">activities</a>

    <br />
</div>

@section scripts{
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
}
