@model AccountLoginVM
@{
    Layout = "_Layout";
    ViewBag.Title = "Login";
}

<div class="loop-create">

    <h1>Login</h1>

    <form class="form-group" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">
        <label asp-for="Username"></label>
        <input class="loop-form-input" asp-for="Username" />
        <span asp-validation-for="Username"></span>
        <br />
        <label asp-for="Password"></label>
        <input class="loop-form-input" asp-for="Password" />
        <span asp-validation-for="Password"></span>
        <br />
        <input class="loop-button" type="submit" value="Login" />
    </form>
    <br />

    <a class="loop-button" asp-controller="Account" asp-action="Create">Create Account</a>
    <br />
    <br />
    <a class="loop-button" asp-controller="Button" asp-action="Index">LOOP</a>
</div>


