@model GuestIndexVM

@{
    Layout = "_Layout";
    ViewBag.Title = "Guest";
}


<form asp-controller="Guest" asp-action="Start">
    <button class="btn btn-primary">START</button>
</form>



@*<button class="btn btn-primary" asp-controller="Guest" asp-action="Stop">STOP</button>*@

