@model MemberActivitiesVM
@{
    ViewBag.Title = "Activities";
    Layout = "_Layout";
}

<div class="loop-container-row">
    @foreach(var activity in Model.Activities)
    {
        <div class="loop-create">
            <h3>@activity.ActivityName</h3>
            <a class="loop-button" asp-controller="Member" asp-action="Activity" asp-route-id="@activity.ActivityId">Details</a>
            <a class="loop-button" asp-controller="Member" asp-action="EditActivity" asp-route-id="@activity.ActivityId">Edit @activity.ActivityName</a>

        </div>
    }
</div>

@section scripts{
    <script src="~/js/MyJavaScript.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
}
