@model MemberActivitiesVM;
@{
    ViewBag.Title = "Activity";
    Layout = "_Layout";
}

<form asp-controller="Member" asp-action="Activity"asp-route-id="@Model.Id">
    <label class="col-md-2">@Model.ActivityName</label>
    <span class="col-md-2">@Model.Timestamp</span>
</form>