@model MemberActivitiesVM[]
@{
    ViewBag.Title = "Activities";
    Layout = "_Layout";
    var submitBtn = "Create new activity";
}

<h1>@ViewBag.Title</h1>

@foreach(var activity in Model)
{
    <p>@activity.ActivityName</p>
}

<a class="btn btn-primary btn-sm" asp-action="Create">@submitBtn</a>