@model MemberActivityVM;
@{
    ViewBag.Title = "Activity";
    Layout = "_Layout";
}

<div class="loop-create">


    <h3>@Model.ActivityName</h3>

    @if(Model.IsActive == true)
    {
        <p>@Model.ActivityName is active. The clock is ticking.</p>
    }
    else
    {
        <p>@Model.ActivityName is not active...</p>
    }

    <a class="loop-button" asp-controller="Member" asp-action="Activities">activities</a>
</div>
