@model MemberCreateVM
@{
    ViewBag.Title = "Create new activity";
    Layout = "_Layout";
    var submitBtn = "Skapa ny aktivitet";
}


<div class="loop-create">
    <h1>@ViewBag.Title</h1>
    <form asp-controller="Member" asp-action="create">
        <div>
            @*<label asp-for="ActivityName"></label>*@
            <input class="loop-form-input" asp-for="ActivityName" placeholder="Activity name"/>
            <span class="loop-error" asp-validation-for="ActivityName"></span>
        </div>
        <br />
        <div>
            <button class="loop-button">@submitBtn</button>
        </div>
    </form>
</div>
@section scripts{
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
}