

@model MemberEditActivityVM;

@{
    ViewBag.Title = "Edit activity details";
    Layout = "_Layout";

}



<div class="loop-create">
    <h1>Edit Activity</h1>
    <form asp-controller="Member" asp-action="EditActivity" asp-route-id="@Model.Id">
        <input class="loop-form-input" asp-for="ActivityName" />
        <span class="loop-error" asp-validation-for="ActivityName"></span>
        <button class="loop-button">Edit</button>
    </form>
</div>

@section scripts{
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
}

