@model MemberIndexVM
@{
    Layout = "_Layout";
    ViewBag.Title = "Members";
    var submitBtn = "Skapa ny aktivitet";
}
<div>
    <h1>@ViewBag.Title</h1>
    <p>
        Welcome member - you are logged in as: @Model.Username
    </p>
    <a class="loop-button" asp-action="Create">@submitBtn</a>
    <br />
    <a class="loop-button" asp-controller="Member" asp-action="Activities">Visa aktiviteter</a>
    <br />
    <a class="loop-button" asp-controller="Member" asp-action="Edit" asp-route-id="@Model.Username">Edit</a>
</div>
