body {
  font-family: 'Varela Round', sans-serif;
}
h3 {
  margin-bottom: 0;
}
@media (max-width: 375px) {
  .loop-mini-container {
    margin: 0;
    padding: 0 30px;
    width: 100%;
  }
}
.loop-header {
  text-align: center;
  width: 300px;
  margin: 30px;
  padding: 30px;
  border-radius: 40px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  width: unset;
  padding: 10px 30px;
}
@media (max-width: 375px) {
  .loop-header {
    width: 100%;
    border-radius: 0;
    margin-top: 0;
    margin-bottom: 0;
    box-shadow: none;
  }
}
.loop-header .loop-button {
  background-color: #eaeaea;
  border: 1px solid #949494;
  /*border-radius: 50px;*/
  border-radius: 2rem;
  color: #606060;
  display: inline-block;
  font-size: 0.7rem;
  letter-spacing: 0.05rem;
  margin: 5px 0;
  min-width: 222px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.7rem;
  transition: 0.1s ease;
  width: 100%;
}
@media (max-width: 375px) {
  .loop-header .loop-button {
    min-width: 100%;
  }
}
.loop-header .loop-button:hover {
  box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.5);
  border: 1px solid white;
  background-color: #f7f7f7;
  color: #606060;
  cursor: pointer;
  letter-spacing: 0.2rem;
  text-decoration: none;
}
.loop-header .loop-button:focus {
  border: 1px solid white;
  outline: 0;
  box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.5);
}
.loop-header h3 {
  text-transform: uppercase;
}
.loop-error {
  font-size: 0.6rem;
  color: red;
}
.loop-color {
  /*padding: 0;
    margin: 0;
    height: 0;
    width: 100vh;*/
  box-shadow: 0 0 3rem #008a0a;
}
.loop-menu {
  position: relative;
  display: inline-block;
  transition: 0.1s ease;
}
.loop-menu:hover .loop-menu-content {
  display: block;
}
.loop-menu-content {
  border: 1px solid #949494;
  border-radius: 0 0.5rem 0.5rem 0;
  margin: 0 -20px;
  padding: 10px;
  display: none;
  position: absolute;
  min-width: 250px;
  box-shadow: -10px 10px 10px -4px rgba(0, 0, 0, 0.5);
  z-index: 1;
  font-size: 1rem;
  background-color: #eaeaea;
}
.loop-menu-content a {
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 0.05rem;
  color: #606060;
  padding: 14px 10px;
  text-decoration: none;
  display: block;
  transition: 0.1s ease;
}
.loop-menu-content a:hover {
  letter-spacing: 0.2rem;
  background-color: #f7f7f7;
}
.loop-nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 100px;
  margin: 0;
  background-color: #606060;
  border-top: 40px solid white;
}
@media (max-width: 375px) {
  .loop-nav {
    border-top: 0;
    height: 60px;
  }
}
.loop-point {
  cursor: pointer;
}
.loop-nav-text {
  width: 200px;
  margin: 0 20px;
  font-size: 1.5rem;
  color: #eaeaea;
}
.loop-nav-text-right {
  width: 200px;
  margin: 0 20px;
  font-size: 1.5rem;
  color: #eaeaea;
  text-align: right;
}
.loop-nav-text-right span {
  font-size: 1rem;
  padding: 0.5rem;
}
@media (max-width: 550px) {
  .loop-nav-text-right span {
    display: none;
  }
}
.loop-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.loop-create {
  text-align: center;
  width: 300px;
  margin: 30px;
  padding: 30px;
  border-radius: 40px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}
@media (max-width: 375px) {
  .loop-create {
    width: 100%;
    border-radius: 0;
    margin-top: 0;
    margin-bottom: 0;
    box-shadow: none;
  }
}
.loop-create .loop-button {
  background-color: #eaeaea;
  border: 1px solid #949494;
  /*border-radius: 50px;*/
  border-radius: 2rem;
  color: #606060;
  display: inline-block;
  font-size: 0.7rem;
  letter-spacing: 0.05rem;
  margin: 5px 0;
  min-width: 222px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.7rem;
  transition: 0.1s ease;
  width: 100%;
}
@media (max-width: 375px) {
  .loop-create .loop-button {
    min-width: 100%;
  }
}
.loop-create .loop-button:hover {
  box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.5);
  border: 1px solid white;
  background-color: #f7f7f7;
  color: #606060;
  cursor: pointer;
  letter-spacing: 0.2rem;
  text-decoration: none;
}
.loop-create .loop-button:focus {
  border: 1px solid white;
  outline: 0;
  box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.5);
}
.loop-button {
  background-color: #eaeaea;
  border: 1px solid #949494;
  /*border-radius: 50px;*/
  border-radius: 2rem;
  color: #606060;
  display: inline-block;
  font-size: 0.7rem;
  letter-spacing: 0.05rem;
  margin: 5px 0;
  min-width: 222px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.7rem;
  transition: 0.1s ease;
}
@media (max-width: 375px) {
  .loop-button {
    min-width: 100%;
  }
}
.loop-button:hover {
  box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.5);
  border: 1px solid white;
  background-color: #f7f7f7;
  color: #606060;
  cursor: pointer;
  letter-spacing: 0.2rem;
  text-decoration: none;
}
.loop-button:focus {
  border: 1px solid white;
  outline: 0;
  box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.5);
}
section {
  display: flex;
}
.disabled {
  pointer-events: none;
  opacity: 0.5;
}
.loop-form-input {
  margin-top: 1.5rem;
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  transition: box-shadow 0.2s ease, background-color 0.2s ease;
}
.loop-form-input:focus {
  font-size: 1.25rem;
  font-family: monospace;
  color: #00ff00;
  background-color: #333333;
  outline: 0;
  box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.5);
}
.test {
  z-index: -1;
  width: 60%;
  height: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.loop-loop {
  width: 65%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0;
}
@media (max-width: 1200px) {
  .loop-loop {
    width: 85%;
  }
}
@media (max-width: 900px) {
  .loop-loop {
    width: 100%;
  }
}
@media (max-width: 666px) {
  .loop-loop {
    width: 100%;
    margin-bottom: 40px;
  }
}
@media (max-width: 375px) {
  .loop-loop {
    width: 100%;
    flex-direction: column;
  }
}
@media (max-width: 666px) {
  .media666 {
    height: 12rem;
    width: 12rem;
  }
}
@media (max-width: 375px) {
  .media375 {
    height: 12rem;
    width: 12rem;
    font-size: 1rem;
  }
}
.loop-start {
  background-color: #008a0a;
  border: 0;
  border-radius: 50%;
  color: #ffffff;
  font-size: 1.4rem;
  height: 18rem;
  text-transform: uppercase;
  width: 18rem;
  transition: 0.2s;
}
@media (max-width: 666px) {
  .loop-start {
    height: 12rem;
    width: 12rem;
  }
}
@media (max-width: 375px) {
  .loop-start {
    height: 12rem;
    width: 12rem;
    font-size: 1rem;
  }
}
@media (max-width: 375px) {
  .loop-start {
    margin-bottom: 40px;
  }
}
.loop-start:hover {
  border: 1px solid white;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.loop-start:focus {
  opacity: 0.7;
  outline: 0 white;
}
.loop-start:active {
  outline: none;
}
.loop-start-ongoing {
  opacity: 0.7;
  animation: spinStart 2s linear infinite;
  background-color: #008a0a;
  border-top: 10px solid #ffffff;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #ffffff;
  border-left: 10px solid transparent;
  border-radius: 50%;
  color: transparent;
  height: 18rem;
  width: 18rem;
}
@media (max-width: 666px) {
  .loop-start-ongoing {
    height: 12rem;
    width: 12rem;
  }
}
@media (max-width: 375px) {
  .loop-start-ongoing {
    height: 12rem;
    width: 12rem;
    font-size: 1rem;
  }
}
@media (max-width: 375px) {
  .loop-start-ongoing {
    margin-bottom: 40px;
  }
}
.loop-start-ongoing:active {
  outline: none;
}
.loop-start-ongoing:focus {
  outline: none;
}
@keyframes spinStart {
  100% {
    transform: rotate(359deg);
  }
}
.loop-stop-inactive {
  opacity: 0.25;
  background-color: #d50000;
  border: 0;
  border-radius: 50%;
  color: #ffffff;
  font-size: 1.4rem;
  height: 18rem;
  text-transform: uppercase;
  width: 18rem;
  transition: 0.2s;
}
@media (max-width: 666px) {
  .loop-stop-inactive {
    height: 12rem;
    width: 12rem;
  }
}
@media (max-width: 375px) {
  .loop-stop-inactive {
    height: 12rem;
    width: 12rem;
    font-size: 1rem;
  }
}
.loop-stop-inactive:active {
  outline: none;
}
.loop-stop-inactive:focus {
  outline: none;
}
.loop-stop {
  opacity: 0.25;
  background-color: #d50000;
  border: 0;
  border-radius: 50%;
  color: #ffffff;
  font-size: 1.4rem;
  height: 18rem;
  text-transform: uppercase;
  width: 18rem;
  transition: 0.2s;
  opacity: 1;
}
@media (max-width: 666px) {
  .loop-stop {
    height: 12rem;
    width: 12rem;
  }
}
@media (max-width: 375px) {
  .loop-stop {
    height: 12rem;
    width: 12rem;
    font-size: 1rem;
  }
}
.loop-stop:active {
  outline: none;
}
.loop-stop:focus {
  outline: none;
}
@media (max-width: 666px) {
  .loop-stop {
    height: 12rem;
    width: 12rem;
  }
}
@media (max-width: 375px) {
  .loop-stop {
    height: 12rem;
    width: 12rem;
    font-size: 1rem;
  }
}
.loop-stop:hover {
  border: 1px solid white;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.loop-stop:focus {
  opacity: 0.25;
  outline: 0 white;
}
.loop-stop:active {
  outline: none;
}
