@blue: #0077d9;
@red: #d50000;
@purple: #8b40ac;
@green: #008a0a;
@grey: #949494;
@darkgrey: #606060;
@lightgrey: #eaeaea;
@lightergrey: #f7f7f7;
@dataBg: #333333;
@dataGreen: #00ff00;
@dataFont: monospace;
@loopButtonSize: 18rem;
@loopButtonFontSize: 1.4rem;
@loopButtonBorder: 10px;

body {
    font-family: 'Varela Round', sans-serif;
}

.loop-error {
    font-size: 0.6rem;
    color: red;
}

.loop-color {
    /*padding: 0;
    margin: 0;
    height: 0;
    width: 100vh;*/
    box-shadow: 0 0 3rem @green
}

.loop-nav {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100px;
    margin: 0;
    background-color: @darkgrey;
    border-top: 40px solid white;
}

.loop-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.loop-create {
    text-align: center;
    width: 300px;
    margin: 30px;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);

    .loop-button {
        .loop-button;
        width: 100%;
    }
}

.loop-button {
    background-color: @lightgrey;
    border: 1px solid @grey;
    border-radius: 0.5rem;
    color: @darkgrey;
    display: inline-block;
    font-size: 0.7rem;
    letter-spacing: 0.05rem;
    margin: 5px 0;
    min-width: 222px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.7rem;
    transition: 0.1s ease;

    &:hover {
        background-color: @lightergrey;
        color: @darkgrey;
        cursor: pointer;
        letter-spacing: 0.2rem;
        text-decoration: none;
    }

    &:focus {
        border: 1px solid white;
        outline: 0;
        box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.5);
    }
}

section {
    display: flex;
}

.disabled {
    pointer-events: none;
    opacity: .5;
}

.loop-form-input {
    display: block;
    width: 100%;
    padding: .5rem 1rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: .5rem;
    transition: box-shadow 0.2s ease, background-color 0.2s ease;

    &:focus {
        font-size: 1.25rem;
        font-family: @dataFont;
        color: @dataGreen;
        background-color: @dataBg;
        outline: 0;
        box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.5);
    }
}

.test {
    width: 60%;
    height: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.loop-loop {
    width: 60%;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.loop-start {
    background-color: @green;
    border: 0;
    border-radius: 50%;
    color: #ffffff;
    font-size: @loopButtonFontSize;
    height: @loopButtonSize;
    text-transform: uppercase;
    width: @loopButtonSize;
    transition: 0.2s;

    &:hover {
        border: 1px solid white;
        box-shadow: 0 0 2rem rgba(0,0,0,0.5);
        cursor: pointer;
    }

    &:focus {
        opacity: .7;
        outline: 0 white;
    }
}

.loop-start-ongoing {
    opacity: .7;
    animation: spinStart 2s linear infinite;
    background-color: @green;
    border-top: @loopButtonBorder solid #ffffff;
    border-right: @loopButtonBorder solid transparent;
    border-bottom: @loopButtonBorder solid #ffffff;
    border-left: @loopButtonBorder solid transparent;
    border-radius: 50%;
    color: transparent;
    height: @loopButtonSize;
    width: @loopButtonSize;
}

@keyframes spinStart {
    100% {
        transform: rotate(359deg)
    }
}

.loop-stop-inactive {
    opacity: .25;
    background-color: @red;
    border: 0;
    border-radius: 50%;
    color: #ffffff;
    font-size: @loopButtonFontSize;
    height: @loopButtonSize;
    text-transform: uppercase;
    width: @loopButtonSize;
    transition: .2s;
}

.loop-stop {
    .loop-stop-inactive;
    opacity: 1;

    &:hover {
        border: 1px solid white;
        box-shadow: 0 0 2rem rgba(0,0,0,0.5);
        cursor: pointer;
    }

    &:focus {
        opacity: .25;
        outline: 0 white;
    }
}
